@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Press+Start+2P&family=Source+Code+Pro:wght@200&display=swap');
/*Roboto mono style font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 3px;
    border-radius: 4px;
}

body {
    background-color: rgba(2, 12, 15, 0.925);
    font-family: monospace;
    font-size: 18px;
}

.title {
    background-color: rgba(10, 117, 131, 0.342);
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
    margin: 10px;
    width: 98%;
    font-size: 17px;
    text-align: center;
}

button {
    position: relative;
    border: solid rgb(236, 217, 217);
    background-color: burlywood;
    font-family: monospace;
    font-weight: bold;
    color: white;
    border-radius: 10%;
    width: 110px;
    height: 50px;
    transition: 0.4s;
/*     overflow: hidden;
 */    cursor: pointer;
}
button:hover {
    background-color: rgba(255, 187, 142, 0.527);
    transform: scale(1.1);
    font-size: 14px;
}
button:after {
    position: absolute;
    content: "";
    background: rgb(224, 188, 224);    
    opacity: 0;
    transition: all 0.8s;
    padding: 100%;
}
button:active:after{
    opacity: 1;
    transition: 0s;
    padding: 20px;
    margin: 0;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: blanchedalmond;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    border: solid rgb(236, 217, 217);
}

.roundResult {
    font-family: 'Roboto Mono', monospace;    
    color: rgba(206, 191, 126, 0.466);
    font-size: 20px;
}

.userImageSelection, .computerImageSelection {
    height: auto;
    width: 250px;
    max-height: 280px;
    max-width: 250px;
}
.imageContainer {
    width: 100%;
    height: 280px;
}

.selectionsTitle {
    background-color: rgb(238, 238, 238);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 98%;
}
.selections {
    display: flex;
    background-color: transparent;
    margin: 15px;
    gap: 80px;
}

h2 {
    justify-content: center;
    resize: horizontal;
    font-size: 35px;
}

footer {
    color: rgba(217, 228, 187, 0.377);
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-weight:700;
}

.points {
    display: flex;
    align-content: space-between;  
    gap: 80px; 
    border-style:groove solid;
    border-radius: 5px;
    padding: 0px 10px;
}

.players-selections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}